/*
    Class: SWE2710- Wordle Project
    Names: Ethan Houseworth, Kadie Degner, Alton Wimer, and Ryan Malvey
    Class Section: 121
    Fall 2023
*/

/* Body and title styles */

body {
    background: url('../Images/halloweenBackground.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #373737;
}

#wordle { 
    color: #120b23;
}

#modeTitle {
    font-family: "Garamond", sans-serif;
    font-size: 70px;  
    line-height: 20px;
    padding-top: 100px;
    color: #e57a10;   
}

/* Game mode selector styles */
    
#gameModesContainer {
    color: #120b23;
}

/* Menu buttons and menu buttons container styles */
    
#buttonsContainer {
    text-align: center;
}
    
.menuButtons {
    background-color: #e57a10;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: bold;
    color: white;
}

.menuButtons:hover {
    color: black;
    background-image: url('../Images/candyCorn.png');
    background-size: cover;
}

/* Ghost Styles */

#ghost {
    margin: 10% auto;
    animation: float 2s infinite;
    position: absolute;
    display: inline-block;
    bottom: -5%;
    left: 10%;
    z-index: -1;
}

#ghost #ghostBody {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#ghost #ghostBody:before,
#ghost #ghostBody:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
}

#ghost #ghostBody:before {
    left: -18px;
}

#ghost #ghostBody:after {
    right: -18px;
}

#ghost #ghostBody #ghostEyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#ghost #ghostBody #ghostEyes:before,
#ghost #ghostBody #ghostEyes:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    background: #190e2b;
    border-radius: 50%;
}

#ghost #ghostBody #ghostMouth {
    background: #190e2b;
    margin: 25px auto 0;
    height: 30px;
    width: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#ghost #ghostBody #ghostFeet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#ghost #ghostBody #ghostFeet > *,
#ghost #ghostBody #ghostFeet::before,
#ghost #ghostBody #ghostFeet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}