body {
  font-family: "Franklin Gothic Book", sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  user-select: none;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 28px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
}

.grid-item {
  font-family: "Franklin Gothic Medium", sans-serif;
  border: solid black 3px;
  width: 50px;
  aspect-ratio: 1;
  font-size: 35px;
  background-color: white;
  border-color: #a4a4a4;
  border-radius: 5px;
  text-align: center; 
}

.green {
  position: relative;
  animation: flip 1s linear 0.5s, toGreen forwards 1.5s;
}

.yellow {
  position: relative;
  animation: flip 1s linear 0.5s, toYellow forwards 1.5s;
}

.gray {
  position: relative;
  animation: flip 1s linear 0.5s, toGray forwards 1.5s;
}

@keyframes flip {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(-90deg);}
  100% {transform: rotateX(0deg)}
}

@keyframes toGreen {
  50% {background-color:white; color: black; border-color: #a4a4a4;}
  100% {background-color: #6ca965; color: white; border-color: #6ca965;}
}

@keyframes toYellow {
  50% {background-color:white; color: black; border-color: #a4a4a4;}
  100% {background-color: #c8b653; color: white; border-color: #c8b653;}
}

@keyframes toGray {
  50% {background-color:white; color: black; border-color: #a4a4a4;}
  100% {background-color: #787c7f; color: white; border-color: #787c7f;}
}

/* Keyboard Styles */

.keyTable {
  display: flex;
  justify-content: center;
  border-spacing: 5px;
}

.key {
  font-family: "Franklin Gothic Medium", sans-serif;
  border: solid #e7e7e7 3px;
  color: black;
  width: 30px;
  height: 40px;
  font-size: 25px;
  background-color: #e7e7e7;
  border-radius: 5px;
  text-align: center;
  transition: 1.5s;
}

.key:hover {
  cursor: pointer;
}

#Enter {
  font-size: 15px;
  width: 60px
}

#Backspace {
  width: 60px;
}

svg {
  margin-top: 10%;
  height: 25px;
}

#keyboardDiv {
  margin-top: 10px;
}

/*Keyboard animation*/
.greenKey {
  position: relative;
  animation: toGreenKey forwards 2s;
}

.yellowKey {
  position: relative;
  animation: toYellowKey forwards 2s;
}

.grayKey {
  position: relative;
  animation: toGrayKey forwards 2s;
}

@keyframes toGreenKey {
  100% {background-color: #6ca965; color: white; border-color: #6ca965;}
}

@keyframes toYellowKey {
  100% {background-color: #c8b653; color: white; border-color: #c8b653;}
}

@keyframes toGrayKey {
  100% {background-color: #787c7f; color: white; border-color: #787c7f;}
}