/*
    Class: SWE2710- Wordle Project
    Names: Ethan Houseworth, Kadie Degner, Alton Wimer, and Ryan Malvey
    Class Section: 121
    Fall 2023
*/

/* Body and title styles */

body {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 100px;
}


/* Game mode selector and option styles */
    
#modesSelector {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Franklin Gothic Book", sans-serif;
}
    
#gameModesContainer {
    text-align: center;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 30px;
    height: 40px;
    margin: auto;
    padding: 0px 30px 30px 30px;
}
    
option {
    font-size: 20px;
}


/* Menu buttons and menu buttons container styles */
    
#buttonsContainer {
    text-align: center;
}
    
.menuButtons {
    margin: 10px;
    width: 150px;
    height: 50px;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.menuButtons:hover {
    background-color: rgba(10, 10, 10, 0.95);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-4px);
}
    

/* How to play popup styles */
    
#howToPlayContainer {
    display: none;
    position: absolute;
    bottom: 3.5%;
    left: 23%;
    right: 23%;
    top: 3.5%;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 999;
}
    
#howToPlayForm {
    padding: 3px;
    background-color: white;
}
    
#closeButton {
    position: absolute;
    top: 2px;
    right: 8px;
    margin: 0;
    border: none;
    box-shadow: none;
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 30px;
}
    
#closeButton:hover {
    opacity: 1;
    cursor: pointer;
    color: #757575;
}
    
#howToPlayContainer h1 {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 10px 0 0 0;
}
    
#howToPlayContainer h2 {
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 35px;
    margin-top: 12px;
    margin-bottom: 5px;
}
    
#howToPlayContainer li {
    font-family: "Franklin Gothic Demi", sans-serif;
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
    line-height: 35px;
}

table {
    border-spacing: 6px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: "Franklin Gothic Medium", sans-serif;
    border: solid black 3px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    background-color: white;
    border-color: #a4a4a4;
    border-radius: 5px;
    text-align: center;
}

caption {
    font-family: "Franklin Gothic Demi", sans-serif;
    font-size: 17px;
}

.bold {
    font-weight: bold;
}

#green {
    position: relative;
    animation: flip 1s linear 0.5s,
            toGreen forwards 1.5s;
    
}

#yellow {
    position: relative;
    animation: flip 1s linear 0.5s,
            toYellow forwards 1.5s;
    
}

#black {
    position: relative;
    animation: flip 1s linear 0.5s,
            toBlack forwards 1.5s;
    
}


/* Flip and color change animations */

@keyframes flip {
    0% {transform: rotateX(0deg);}
    50% {transform: rotateX(-90deg);}
    100% {transform: rotateX(0deg)}
}

@keyframes toGreen {
    50% {background-color:white; color: black; border-color: #a4a4a4;}
    100% {background-color: #6ca965; color: white; border-color: #6ca965;}
}

@keyframes toYellow {
    50% {background-color:white; color: black; border-color: #a4a4a4;}
    100% {background-color: #c8b653; color: white; border-color: #c8b653;}
}

@keyframes toBlack {
    50% {background-color:white; color: black; border-color: #a4a4a4;}
    100% {background-color: #787c7f; color: white; border-color: #787c7f;}
}
